body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button a {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  border: none;
  border-bottom: none;
  font: inherit;
  font-weight: 250;
  cursor: pointer;
  color: black;
  background-color: var(--background);
  border: 2px solid var(--dark-turquoise);
  transition: background-color 0.2s;
}



.OwenWilsonFanPage{
  background-color: black;
  color: white;
}

/* .WilsonHeadBackground {
  background-image: url("https://camo.githubusercontent.com/2310f53bded4253f3cabebc01e1b5533e3df9f4e9195ead7eab86467987fb20c/68747470733a2f2f696d616765732e6374666173736574732e6e65742f6273386e74776b6b6c6675612f6138565a566c63477a4e536f6a4c6a717173306d352f39623436313038623032336661393239663430643662323631636231366338362f5472616e73706172656e745f4f77656e5f57696c736f6e2e706e67");
  background-size: 150px;
} */

.WilsonCardSection {
  display: grid;
  grid-template-columns: repeat(5, 16.8%);
  column-gap: 4%;
  row-gap: 4%;
}

.WilsonCard img {
  max-width:100%;
  border-radius: 10% 25%;
}
